###############  .gitignore   ##################

################ credentials  ##################
.lab/
cred/
keys/

###############  media files  ##################
publicity/
data/

############### distro files  ##################
site/
.webassets-cache/
hooks/
plugins/
build/
.Python
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
docs/_build/
target/

###############   IDE files   ##################
venv/
venv3/
.~lock.*
.DS_STORE
.netbeans
nbproject
.idea
.node_history
__pycache__
*.so

############## backup sync files ###############
desktop.ini
*.gdoc

############## tinkering scripts ###############
tinker/
notes/

#################   data files    #################
appdata/

#################  dependencies   #################
node_modules/

#################   backup sync   #################
.dropbox
Thumbs.db

#################  unit testing   #################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

################# version control #################
.hgignore
.hg/
dev/
tests_dev/
docs_dev/