recursive-exclude cred *
recursive-exclude keys *
recursive-exclude tests *
recursive-exclude models *
recursive-exclude notes *
recursive-exclude docs *
recursive-include labPack_dev *.json
include *.rst
include *.txt
include *.md