recursive-exclude cred *
recursive-exclude data *
recursive-exclude dev *
recursive-exclude docs *
recursive-exclude keys *
recursive-exclude models *
recursive-exclude notes *
recursive-exclude tests *
recursive-exclude tests_dev *
include *.rst
include *.txt
include *.md